@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111111;
  margin-bottom: 100px;
}
::-webkit-scrollbar {
  height: 15px;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(226 226 226 / var(--tw-bg-opacity));
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
